.add-review form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-review form input{
    width: 400px;
    margin-bottom: 10px;
}
.add-review textarea{
    max-width: 400px;
    margin-bottom: 10px;
}
